@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	@apply h-full;
}

body {
	@apply bg-white text-zinc-900;
}

header {
	@apply bg-white p-4 flex justify-between items-center fixed top-0 left-0 w-full z-10;
}

.nav-link {
    @apply ml-4 text-blue-700 hover:text-blue-900;
}

header a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* This centers the text horizontally */
}

.title {
    @apply text-4xl font-semibold mb-2; /* Adjust the size of "Touch Point" */
    background-image: linear-gradient(to right, blue, purple);
    -webkit-background-clip: text;
    color: transparent;
}

.subtitle {
    @apply text-lg font-normal text-gray-400; /* Adjust this for the size and color of "Digital Marketing Agency" */
    text-align: center;
}

header h1 {
	@apply text-2xl font-semibold;
}

.close-btn {
    background: none; /* No background */
    border: none; /* Remove any borders */
    color: darkgray; /* Initial color */
    font-size: 24px; /* Adjust as necessary */
    cursor: pointer;
    transition: color 0.2s; /* Smooth color transition on hover */
}

.close-btn:hover {
    color: lightgray; /* Color on hover */
}

.main-content {
	@apply flex flex-col items-center py-20 bg-white pt-32;
}

button {
	@apply px-5 py-3 font-medium text-lg bg-blue-700 text-white rounded-md mt-4 hover:bg-blue-800 transition-all duration-200 ease-in-out;
}

label {
	@apply pb-2 text-lg;
}

textarea {
	@apply rounded-md p-3 text-zinc-900 border border-gray-300;
}

h1 {
	@apply text-5xl font-semibold mb-6;
}

h2 {
	@apply text-3xl font-medium pb-1;
}

p {
	@apply text-lg;
}

form {
	@apply flex flex-col pt-8 max-w-lg w-full;
}

footer {
	@apply bg-blue-600 text-white p-4 mt-6;
}
