@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	@apply h-full;
}

body {
	@apply bg-white text-zinc-900;
}

header {
	@apply bg-white p-4 flex justify-between items-center fixed top-0 left-0 w-full z-10;
}

header a {
    color: linear-gradient(to right, blue, purple); /* Ensures the link inherits the color from the parent, so it stays consistent */
    text-decoration: none; /* Removes the underline that typically appears on links */
    display: block; /* Makes the entire area of the header a clickable link */
}

header a span {
    display: block; /* Ensures each span takes up a full line */
}

.title {
    @apply text-3xl font-semibold; /* Larger size for Touch Point */
    padding: 0 0.5rem; /* Small padding to make it center relative to the subtitle */
}

.subtitle {
    @apply text-lg font-normal text-gray-400; /* Adjust this for the size and color of "Digital Marketing Agency" */
    text-align: center;
}

header h1 {
	@apply text-2xl font-semibold;
}

.main-content {
	@apply flex flex-col items-center py-20 bg-white pt-32;
}

button {
	@apply px-5 py-3 font-medium text-lg bg-blue-700 text-white rounded-md mt-4 hover:bg-blue-800 transition-all duration-200 ease-in-out;
}

label {
	@apply pb-2 text-lg;
}

textarea {
	@apply rounded-md p-3 text-zinc-900 border border-gray-300;
}

h1 {
	@apply text-5xl font-semibold mb-6;
}

h2 {
	@apply text-3xl font-medium pb-1;
}

p {
	@apply text-lg;
}

form {
	@apply flex flex-col pt-8 max-w-lg w-full;
}

footer {
	@apply bg-blue-600 text-white p-4 mt-6;
}
